body, .top, .header-links, .awesome-section, .awesome-left, .links, 
.random-section {
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 200vh;
    flex-direction: column;
    
}

.header-links {
    justify-content: space-between;
}

.top, .awesome-left {
    flex-direction: column;
}

.awesome-section, .header-links {
    padding-bottom: 50px;
}

.awesome-section {
    gap: 30px;
    justify-content: space-between;
    flex: 1;
}

.top {
    background-color: #1F2937;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    flex: 4;
}

.random-section {
    background-color: white;
    flex: 4;
}

.quote-section {
    flex: 4;
    background-color: #e5e7eb;
}

.call-to-action-section {
    flex: 3;
    background-color: white;
}

.footer {
    flex: 1;
    background-color: #1F2937;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary, .links {
    color: #e5e7eb;
    font-size: 18px;
}
.hero-secondary {
    margin-bottom: 10px;
}

.links {
    gap: 16px;
}

.header {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    width: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px; /* Rounded corners */
    border-color: #3882f6;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

img {
    height: 200px;
    width: 470px;
    flex: 1;
}